@model  Example.Models.HomeModel
@{
    ViewBag.Title = "Home Page";
}

<img src="~/Content/logo.png" alt="Logo" />
<a href="~/Home/Index#abc">Test</a>
<a href="http://www.bbc.co.uk/">BBC</a>

<div id="form-container">
    <form method="post" action="~/Home/Index" id="main-form">
        <fieldset>
            <legend>This is a static form</legend>
            @Html.ValidationSummary()
            <div>
                @Html.LabelFor(m => m.Name, "Enter your name:", new { })
                @Html.TextBoxFor(m => m.Name)
            </div>
            <div>
                <label>Use AJAX? <input type="checkbox" name="ajax" /></label>
            </div>
            <div>
                @Html.Capttia(Request)
                <button>Submit</button>
            </div>
        </fieldset>
    </form>
</div>

<button id="load-a-form">
    Replace form with dynamically loaded form.
</button>

@section script {
    <script>
        $(document).ready(function () {
            $(document).on('submit', 'form', function (e) {
                $ajaxCheckbox = $('input[name=ajax]', this);
                if ($ajaxCheckbox.is(':checked')) {
                    e.preventDefault();

                    $form = $(this);

                    $.ajax({
                        url: '/Home/Ajax',
                        type: 'POST',
                        dataType: 'json',
                        data: $form.serialize(),
                        success: function (data) {
                            alert(data.Message);
                        }
                    });

                    return false;
                }
                return true;
            });

            $('#load-a-form').click(function () {
                $.get('/Home/DynamicForm', function (data) {
                    $('#form-container').html(data);
                })
            });
        });
    </script>
}